################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/context-api/.vs/context-api/FileContentIndex/fb656cc6-a283-452e-988f-38c12174e1be.vsidx
/portfolio-app/.vs/portfolio-app/FileContentIndex
